<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        body {
            display: flex;
            margin: 0;
            height: 100vh;
        }
        #map {
            flex: 1;
            height: 100%;
        }
        #popup-content {
            width: 30%;
            height: 100%;
            padding: 10px;
            overflow-y: auto;
            background-color: #f0f0f0;
            border-left: 1px solid #ccc;
        }

        #slider-container {
            margin-top: 20px;
        }
        #year-inputs {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
        #year-inputs input {
            width: 45%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        #apply-year-range {
            display: block;
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        #apply-year-range:hover {
            background-color: #45a049;
        }
        .ui-slider-range {
            background: #4CAF50;
        }
        .ui-slider-handle {
            border-color: #4CAF50;
            background: white;
        }

        #city-select {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div id="map">{{ fmap|safe }}</div>
    <div id="popup-content">
        <h2>Pin Information</h2>
        <div id="details">
            Click on a pin to see details.
        </div>
        <div id="slider-container">
            <label for="year-range">Year range:</label>
            <input type="text" id="year-range" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div id="slider-range"></div>
            <div id="year-inputs">
                <input type="number" id="min-year" placeholder="Min year">
                <input type="number" id="max-year" placeholder="Max year">
            </div>
            <button id="apply-year-range">Apply</button>
        </div>

        <div id="city-select-container">
            <label for="city-select">Select a city:</label>
            <select id="city-select">
                <option value="">--Select a city--</option>
                {% for city in cities %}
                    {% if city in city_coords %}
                        <option value="{{ city_coords[city] }}">{{ city }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

    </div>

    <script>
        $(document).ready(function() {

            var map = L.map('map').setView([51.5074, -0.1278], 12);
            L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
            maxZoom: 19, attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>'
            }).addTo(map);

            var countryGroup = L.layerGroup().addTo(map);
            var countyGroup = L.layerGroup().addTo(map);
            var cityGroup = L.layerGroup().addTo(map);
            var otherGroup = L.layerGroup().addTo(map);
            
            // 渲染后端传递过来的标记
            var markers = {{ markers | tojson }};
            var minYear = {{ min_year }};
            var maxYear = {{ max_year }};
            var markerObjects = [];
            var layersControl = L.control.layers().addTo(map);

            function addMarkers(data) {
                countryGroup.clearLayers();
                countyGroup.clearLayers();
                cityGroup.clearLayers();
                otherGroup.clearLayers();
                layersControl.remove();

                data.markers.forEach(function(marker) {
                    //var iconSize = [20 + Math.sqrt(marker.manuscript_count) * 2, 20 + Math.sqrt(marker.manuscript_count) * 2];

                    var m = L.marker([marker.lat, marker.long], {
                        icon: L.icon({
                            iconUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-icon.png',
                            iconSize: iconSize,
                            iconAnchor: [iconSize[0] / 2, iconSize[1]],  // 调整图标锚点以使图标底部对齐
                            popupAnchor: [0, -iconSize[1]]
                        })
                    });
                    m.bindPopup(marker.placename);
                    m.on('popupopen', function(e) {
                        $('#details').html(`
                            <h3>${marker.placename}</h3>
                            <p>Place: <a href="${marker.place}" target="_blank">${marker.place}</a></p>
                            <p>Begin Year: ${marker.begin_year}</p>
                            <p>End Year: ${marker.end_year}</p>
                            <p>Manuscripts: ${marker.manuscript_count}</p>
                            <p>Latitude: ${e.target.getLatLng().lat}</p>
                            <p>Longitude: ${e.target.getLatLng().lng}</p>
                        `);
                    });
                    m.on('popupclose', function(e) {
                        $('#details').html('Click on a pin to see details.');
                    });
                    if (marker.category === 'City/Towns') {
                        m.addTo(cityGroup);
                    } else {
                        m.addTo(otherGroup);
                    }
                });

                layersControl = L.control.layers(null, {
                    "City/Towns": cityGroup,
                    "Sites": otherGroup
                }).addTo(map);
            }
            layersControl.remove();
            markers.forEach(function(marker) {
                var iconSize = [20 + Math.sqrt(marker.manuscript_count) * 2, 20 + Math.sqrt(marker.manuscript_count) * 2];
                var m = L.marker([marker.lat, marker.long], {
                    icon: L.icon({
                        iconUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-icon.png',
                        iconSize: iconSize,
                        iconAnchor: [iconSize[0] / 2, iconSize[1]],  // 调整图标锚点以使图标底部对齐
                        popupAnchor: [0, -iconSize[1]]
                    })
                });
                m.bindPopup(marker.placename);
                m.on('popupopen', function(e) {
                    $('#details').html(`
                        <h3>${marker.placename}</h3>
                        <p>Place: <a href="${marker.place}" target="_blank">${marker.place}</a></p>
                        <p>Begin Year: ${marker.begin_year}</p>
                        <p>End Year: ${marker.end_year}</p>
                        <p>Manuscripts: ${marker.manuscript_count}</p>
                        <p>Latitude: ${e.target.getLatLng().lat}</p>
                        <p>Longitude: ${e.target.getLatLng().lng}</p>

                    `);
                });
                m.on('popupclose', function(e) {
                    $('#details').html('Click on a pin to see details.');
                });
                if (marker.category === 'City/Towns') {
                    m.addTo(cityGroup);
                } else {
                    m.addTo(otherGroup);
                }
                markerObjects.push({marker: m, year: marker.year});
            });


            // 渲染后端传递过来的GeoJSON数据
            var geojsonData = {{ geojson_data | safe }}
            console.log("JSON Data:", geojsonData);

            geojsonData.forEach(function(item) {
                var data = item.data;
                var color = item.color;

                L.geoJson(data, {
                    style: function(feature) {
                        return {
                            fillColor: color || '#'+ md5(feature.properties.name).toString().substring(0, 6), // 使用generate_color_from_string的结果
                            color: 'green',
                            weight: 1
                        };
                    }
                }).addTo(map);
            });

            function filterMarkers(minYear, maxYear) {
                markerObjects.forEach(function(obj) {
                    if ((obj.begin_year <= maxYear && obj.end_year >= minYear)) {
                        obj.marker.addTo(map);
                    } else {
                        map.removeLayer(obj.marker);
                    }
                });
            }


            $("#slider-range").slider({
                range: true,
                min: minYear,
                max: maxYear,
                values: [minYear, maxYear],
                slide: function(event, ui) {
                    $("#year-range").val(ui.values[0] + " - " + ui.values[1]);
                    $("#min-year").val(ui.values[0]);
                    $("#max-year").val(ui.values[1]);
                }
            });

            $("#year-range").val($("#slider-range").slider("values", 0) + " - " + $("#slider-range").slider("values", 1));
            $("#min-year").val($("#slider-range").slider("values", 0));
            $("#max-year").val($("#slider-range").slider("values", 1));
            // 输入框改变时更新滑块
            $("#min-year, #max-year").change(function() {
                var minYearInput = parseInt($("#min-year").val());
                var maxYearInput = parseInt($("#max-year").val());
                if (!isNaN(minYearInput) && !isNaN(maxYearInput) && minYearInput <= maxYearInput) {
                    $("#slider-range").slider("values", [minYearInput, maxYearInput]);
                    $("#year-range").val(minYearInput + " - " + maxYearInput);
                }
            });


            $("#apply-year-range").click(function() {
                var minYear = parseInt($("#slider-range").slider("values", 0));
                var maxYear = parseInt($("#slider-range").slider("values", 1));
                $.post('/filter', { min_year: minYear, max_year: maxYear }, function(data) {
                    addMarkers(data);
                });
            });

            $("#city-select").change(function() {
                var coords = $(this).val();
                if (coords) {
                    coords = coords.split(',');
                    map.setView([parseFloat(coords[0]), parseFloat(coords[1])], 12);
                }
            });

            var baseLayers = {
                "City/Towns": cityGroup,
                "Sites": otherGroup
            };

            layersControl = L.control.layers(baseLayers).addTo(map);
        });

        // 引入 CryptoJS 库
        function md5(string) {
            return CryptoJS.MD5(string).toString();
        }
    </script>
</body>
</html>
